<style>
body {
  background-image: url('https://www.columbia.edu/content/sites/default/files/styles/cu_crop/public/content/Morningside%20Campus%20at%20Dusk%202.jpg?itok=SkwvzD5S');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}
</style>
<%= stylesheet_link_tag 'application.css' %>

<div id="start-btn">
  <% if logged_in? %>
    <a class="btn btn-outline-dark" href='/home' role="button" style="text-transform:none">Start Planning</a>
  <% else %>
    <a class="btn btn-outline-dark" href='/auth/google_oauth2' role="button" style="text-transform:none">Start Planning</a>
  <% end %>
</div>