<!DOCTYPE html>
<html>
  <head>
    <title>Cplan</title>
  </head>

  <% flash.each do |type, msg| %>
    <div class="flash">
      <%= msg %>
    </div>
  <% end %>

    <main class="session align-self-center d-flex justify-content-center">
      <%= link_to "Start Planning", '/auth/google_oauth2', :class => 'btn btn-primary btn-lg align-self-center' %>
    </main>

</html>
