<style>
body {
  background-image: url('https://www.columbia.edu/content/sites/default/files/styles/cu_crop/public/content/Morningside%20Campus%20at%20Dusk%202.jpg?itok=SkwvzD5S');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}
</style>

<body class="splash h-1">
<div class = "test">
</div>
<%= link_to "Start Planning", '/auth/google_oauth2', :class => 'btn btn-primary position-relative top-50 start-50' %>

</body>
