// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primary: #000d74;

@import "bootstrap";

.session {
    height:100%;
    width:100%;
    background-image: url('https://www.columbia.edu/content/sites/default/files/styles/cu_crop/public/content/Morningside%20Campus%20at%20Dusk%202.jpg?itok=SkwvzD5S');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

#cplan-logo {
    padding: 2%;
}

.sign-img {
    width: 70px;
}

.sign-in:link, .sign-in:visited {
    background-color: #336699;
    color: white;
    padding: 2px 5px;
    text-align: center; 
    display: inline-block;
    text-decoration: none;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
}
