<!DOCTYPE html>
<html>
  <head>
    <title>Cplan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= image_tag "cplan-logo.png" %>

  </body>

  <div id="footer">
  <img src="https://visualidentity.columbia.edu/sites/default/files/styles/cu_crop/public/content/header-example1-bp.jpg?itok=xC29yBCU" alt="Columbia University">
  </div>

</html>